@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Playfair Display', serif;
}

.navbar {
  font-size: 1.7em;
}

.landing {
  font-size: 2em;
}

img {
  height: 60px;
  width: 60px;
}
